@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('../fonts/ProximaNovaSemibold.eot');
    src: url('../fonts/ProximaNovaSemibold.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaSemibold.woff2') format('woff2'),
         url('../fonts/ProximaNovaSemibold.woff') format('woff'),
         url('../fonts/ProximaNovaSemibold.ttf') format('truetype'),
         url('../fonts/ProximaNovaSemibold.svg#ProximaNovaSemibold') format('svg');
}
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/12093-webfont.eot');
    src: url('../fonts/12093-webfont.eot') format('embedded-opentype'),
         url('../fonts/12093-webfont.woff2') format('woff2'),
         url('../fonts/12093-webfont.woff') format('woff'),
         url('../fonts/12093-webfont.ttf') format('truetype'),
         url('../fonts/12093-webfont.svg#ProximaNovaRegular') format('svg');
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNovaBold.eot');
    src: url('../fonts/ProximaNovaBold.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaBold.woff2') format('woff2'),
         url('../fonts/ProximaNovaBold.woff') format('woff'),
         url('../fonts/ProximaNovaBold.ttf') format('truetype'),
         url('../fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/HelveticaNeueBold.eot');
    src: url('../fonts/HelveticaNeueBold.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueBold.woff2') format('woff2'),
         url('../fonts/HelveticaNeueBold.woff') format('woff'),
         url('../fonts/HelveticaNeueBold.ttf') format('truetype'),
         url('../fonts/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
}
@font-face {
    font-family: 'HelveticaCEBold';
    src: url('../fonts/HelveticaCEBold.eot');
    src: url('../fonts/HelveticaCEBold.eot') format('embedded-opentype'),
         url('../fonts/HelveticaCEBold.woff2') format('woff2'),
         url('../fonts/HelveticaCEBold.woff') format('woff'),
         url('../fonts/HelveticaCEBold.ttf') format('truetype'),
         url('../fonts/HelveticaCEBold.svg#HelveticaCEBold') format('svg');
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/Helvetica.eot');
    src: url('../fonts/Helvetica.eot') format('embedded-opentype'),
         url('../fonts/Helvetica.woff2') format('woff2'),
         url('../fonts/Helvetica.woff') format('woff'),
         url('../fonts/Helvetica.ttf') format('truetype'),
         url('../fonts/Helvetica.svg#HelveticaNeue') format('svg');
}
@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro.eot');
    src: url('../fonts/MyriadPro.eot') format('embedded-opentype'),
         url('../fonts/MyriadPro.woff2') format('woff2'),
         url('../fonts/MyriadPro.woff') format('woff'),
         url('../fonts/MyriadPro.ttf') format('truetype'),
         url('../fonts/MyriadPro.svg#MyriadPro') format('svg');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fa-regular-400.woff2') format('woff2'),
         url('../fonts/fa-regular-400.woff') format('woff'),
         url('../fonts/fa-regular-400.ttf') format('truetype');
}


body {
    margin: 0;
    padding: 0;
    font-family: 'nunito_sans_regular', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.1;
    color: #262626;
    background:url(../img/background-shape.svg) #fafafa;
    background-size: cover;
    background-repeat: no-repeat;
}

/*.dpx-btn{
    position: absolute;
    top: 12px;
    right: 20px;
}*/

.container{
    width:100%;
    max-width: 935px;
    margin:0 auto;
}

.profile-page__content{
    padding-bottom:25px;
}

h1{
    font-family: 'MyriadPro', Arial, sans-serif;
    font-size: 35px;
    line-height: 1;
    color: #262626;
}

p{
    font-family: 'ProximaNovaSemibold', Arial, sans-serif;
    font-size: 17px;
    color: #fff;
    margin: 0;
}

.profile-page__info{
    background-color: rgba(255, 255, 255, 0.6);
}

.profile-head{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 30px;
}

.profile-head__logo{
    margin: 0 65px;
}

.profile-logo__img{
    display: block;
    width: 100%;
    height: auto;
}

.profile-title{
    display: inline-block;
}

.profile-start-date{
    display: inline-block;
    font-family: 'HelveticaNeue', Arial, sans-serif;
    font-size: 15px;
    line-height: 1;
    color: #4090db;
    border: 1px solid #4090db;
    border-radius: 3px;
    padding: 10px 12px;
    margin-left: 15px;
    width: 146px;
    text-align: center;
}

.profile-amount{
    display: inline-block;
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
    font-size: 17px;
    color: #3d4044;
    margin: 0 25px 0 0;
}

.profile-amount:last-child{
    margin: 0;
}

.profile-amount_bold{
    font-family: 'ProximaNovaBold', Arial, sans-serif;
}

.profile-info__select-date{
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
}

.profile-info__select-date input::-webkit-input-placeholder { 
    font-family:'HelveticaNeue', Arial, sans-serif;
    font-size: 15px;
    color: #333; 
}

.date-picker-x-input{
    width:100%;
    max-width: 180px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;;
}

.select-date__label{
    font-family:'ProximaNovaRegular', Arial, sans-serif;
    font-size: 17px;
    color: #262626;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.mode-switchers{
    display: flex;
    justify-content: flex-end;
}

.mode-switchers li{
    list-style: none;
    background-repeat: no-repeat;
}

.mode-switchers a{
    font-size: 0;
    width: 30px;
    height: 30px;
    display: block;
}

.mode-switchers__grid{
    width: 31px;
    height: 30px;
    background-image:url(../img/switchers/switcher-grid.svg);
    background-position: 2px -29px;
}

.mode-switchers__list{
    width: 32px;
    height: 30px;
    background-image:url(../img/switchers/switcher-list.svg);
    background-position: 0px -30px;
    margin-left: 15px;
}

.mode-switchers__grid_active{
    background-position: 2px 3px;
}

.mode-switchers__list_active{
    background-position: 1px 3px;
}

.profile-posts_grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}

.profile-posts_grid .profile-posts__post-item{
    /*width: 280px;*/
    width: 30%;
    height: 280px;
    margin-bottom: 46.5px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.visually-hidden { 
    display: none !important;
  }

.profile-posts_grid .profile-posts__post-item:nth-child(3n+2){
    margin-left: 46.5px;
    margin-right: 46.5px;
}

.profile-posts_grid .profile-post__row_end-align{
    box-sizing: border-box;
    height: 7%;
    align-items: flex-end;
}

.profile-posts_grid .profile-post__block{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0 10px 10px;
    height: max-content;
    position: relative;
}

.profile-posts_grid .profile-post__block_center{
    padding: 0 0 0 10px;
    position: relative;
    height: 93%;
    box-sizing: border-box;
    align-content: center;
}

.profile-posts_grid .profile-post__row{
    z-index: 101;
    position: relative;
    display:flex;
    width: 100%;
    padding: 0 0 10px 10px;
}

.profile-posts_grid .profile-post__row_center-align-new{
    height: 7%;
}

.profile-posts_grid .profile-post__row_right-align{
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    right: 0;
}

.profile-posts_grid .profile-post__row_center-align{
    justify-content: center;
}
.profile-posts_grid .profile-post__video-icon{
    margin: 10px 15px 0 0;
}

.profile-posts_grid .profile-post__img{
    position: absolute;
}

.profile-posts_grid .profile-post__img img{
    max-width: 280px;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.profile-posts_grid .profile-post__img:after{
    content:'';
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height:100%;
    z-index: 101;
    position: absolute;
    top: 0;
    left: 0
}

.profile-posts_grid .post-item__date{
    width: 40%;
}

.profile-posts_grid .post-item__info{
    display:flex;
    width:70%;
}

.profile-posts_grid .post-item__likes, .post-item__comments, .post-item__watches{
    display: flex;
    width: 50%;
}

.profile-posts_grid .post-item__info-img {
    background-repeat: no-repeat;
}

.profile-posts_grid .post-item__likes .post-item__info-img {
    background-image: url(../img/post-info/post-item-sprite.svg);
    width: 25px;
    height: 21px;
    background-position: top;
    margin-right: 5px;
}

.profile-posts_grid .post-item__comments .post-item__info-img {
    background-image: url(../img/post-info/post-item-sprite.svg);
    width: 25px;
    height: 25px;
    background-position: center;
    margin-right: 5px;
}

.profile-posts_grid .post-item__watches .post-item__info-img {
    background-image: url(../img/post-info/post-item-sprite.svg);
    width: 25px;
    height: 25px;
    background-position: bottom;
    margin-right: 5px;
}

button{
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #000;
    border-radius:22px;
    outline: none;
    display: block;
    cursor: pointer;
}

.profile-load-more-posts__button{
    padding: 10px 30px;
    margin: 45px auto 50px;
}

@media screen and (max-width:769px) {
    .container{
        padding: 0 15px;
        box-sizing: border-box;
    }

    .profile-head__logo {
        margin: 0 auto;
    }

    .profile-title{
        width: 100%;
        text-align: center;
    }

    .profile-info__row{
        margin-bottom: 25px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .profile-info__select-date {
        justify-content: center;
    }

    .profile-start-date{
        display: table;
    }

    .profile-head__info{
        width: 100%;
    }

    .profile-posts_grid .profile-posts__post-item{
        width: 292px;
        height: 292px;
    }

    .profile-posts_grid .profile-post__img img{
        max-width: 292px;
    }

    .profile-posts_grid .profile-info__row_center{
        display: flex;
        justify-content: center;
    }

    .profile-posts_grid .profile-info__select-date {
        justify-content: center;
    }

    .profile-posts_grid .profile-posts__post-item:nth-child(3n+2) {
        margin-left: 0;
        margin-right: 0;
    }

    .profile-posts_grid {
        justify-content: space-evenly;
    }
}

@media screen and (max-width:500px) {
    .profile-posts_grid .profile-posts {
        justify-content: center;
    }

    .profile-posts_grid .profile-posts__post-item{
        width: 90%;
    }

    .profile-posts_grid .profile-post__img img{
        max-width: 100%;
    }

    .profile-posts_grid .select-date__label{
        width: 100%;
        display: inline-block;
        text-align: center;
        margin: 10px 0;
    }

    .date-picker-x-container {
        margin: 10px 0;
    }

    .date-picker-x {
        left: -57px;
        top: 30px !important;
    }
}


.profile-posts_list .profile-posts__post-item{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.profile-posts_list .profile-posts__post-item:last-child{
    margin-bottom: 0;
}

.profile-posts_list .profile-post__img{
    max-width: 95px;
    position: relative;
}

.profile-posts_list .profile-post__img img{
    display: block;
    width: 100%;
    height: auto;
}

.profile-posts_list .profile-post__block{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profile-posts_list .profile-post__row {
    width: 50%;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-content: center;
}
.profile-posts_list .profile-post__upload{
    width: 20%;
}

.profile-posts_list .post-item__date p{
    font-family: 'ProximaNovaSemiBold', Arial, sans-serif;
    color: #343537;
    margin-bottom: 10px;
}

.profile-posts_list .post-item__info{
    display: flex;
}

.profile-posts_list .profile-post__video-icon{
    display: none;
}

.profile-posts_list .post-item__info p{
    font-family: 'ProximaNovaBold', Arial, sans-serif;
    color: #343537;
}

.profile-posts_list .post-item__info-img {
    background-repeat: no-repeat;
}

.profile-posts_list .post-item__likes .post-item__info-img {
    background-image: url(../img/post-info/post-item-black-sprite.svg);
    width: 25px;
    height: 21px;
    background-position: top;
    margin-right: 5px;
}

.profile-posts_list .post-item__comments .post-item__info-img {
    background-image: url(../img/post-info/post-item-black-sprite.svg);
    width: 25px;
    height: 25px;
    background-position: center;
    margin-right: 5px;
}

.profile-posts_list .post-item__watches .post-item__info-img {
    background-image: url(../img/post-info/post-item-black-sprite.svg);
    width: 25px;
    height: 25px;
    background-position: center;
    margin-right: 5px;
}

.profile-posts_list .profile-post__img:after{
    display:none;
} 

.profile-list .profile-post__img {
    position: relative;
}

.profile-posts_list .post-item__likes, .post-item__comments, .post-item__watches {
    display: flex;
}

.profile-posts_list .profile-post__row_center-align p{
    font-family: 'HelveticaCEBold';
    color: #343537;
    max-width: 115px;
}

.profile-posts_list .profile-post__video{
    display: none;
}

@media screen and (max-width: 700px){
    .profile-posts_list .profile-post__upload {
        width: 100%;
        margin: 15px 0;
        text-align: center;
    }

    .profile-posts_list .profile-post__row_center-align p {
        max-width: inherit; 
    }
}
